<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/error.css">
    <title>Error</title>
</head>
<body class="d-flex align-items-center justify-content-center">
<!--Card: Error Card-->
<div class="card col-4 alert alert-danger border border-danger text-danger shadow">
    <h3 class="card-title">
        <i class="fa fa-window-close me-2"></i>Errors:
    </h3>
    <hr>
    <div class="card-body">
        <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Et adipisci earum cumque porro rem laborum voluptate molestias iventore, aperiam ipsam!
        </p>
        <hr>
        <a class="btn btn-sm btn-danger" href="login.html">
            <i class="fa fa-arrow-alt-circle-left me-1"></i>Back
        </a>
    </div>
</div>
<!--End of Card: Error Card-->
</body>
</html>
