<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>
<body class="d-flex align-items-center">
<!-- Card : Sample Text -->
<div class="card col-6 bg-transparent border-0" id="sample-text-card">
    <div class="card-body">
        <h1 class="mb-3">Easy-Way Bank</h1>
        <h5 class="card-title">Flexible Banking Solutions</h5>
        <p class="card-text">
            lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Aperiam fuga, cupiditate temporibus magnam voluptatibus
            eaque laudontium, maxime nemo est iste voluptate hjkhjk
            veniam sequi optio nesciuntl Per spiciotis officia, dolor
            qui nesciunt aspernatur sequi minimo totam Recusandae
            deserunt expedita vet excepturi perferendis necessitatibus,
            soepe loudantium distinctio officio oliquom, reprehnderit
            suscipit nostrum aspernatur?
        </p>

        <div class="button-wrapper d-flex align-items-center">
            <a
                    href="register.html"
                    class="btn btn-md register"
                    role="button">
                Register
            </a>
            <a href="login.html" class="btn btn-md login" role="button">
                Login
            </a>
        </div>
    </div>
</div>
<!-- End of Card : Sample Text -->
</body>
</html>
