<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome/css/all.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body class="d-flex align-items-center justify-content-center">
<!-- Card: Registration Form Card -->
<div class="card registration-form-card col-6 bg-transparent border-0">
    <div class="card-body">
        <h1 class="form-header card-title mb-3">
            <i class="fa fa-edit"></i> Register
        </h1>
        <form action="" class="reg-form">
            <div class="row">
                <div class="form-group col">
                    <input
                            class="form-control form-control-lg"
                            name="first_name"
                            placeholder="Enter First Name"
                            type="text"/>
                </div>

                <div class="form-group col">
                    <input
                            class="form-control form-control-lg"
                            name="last_name"
                            placeholder="Enter Last Name"
                            type="text"/>
                </div>
            </div>

            <div class="form-group col">
                <input
                        class="form-control form-control-lg"
                        name="email"
                        placeholder="Enter Email"
                        type="email"/>
            </div>

            <div class="row">
                <div class="form-group col">
                    <input
                            class="form-control form-control-lg"
                            name="password"
                            placeholder="Enter Password"
                            type="password"/>
                </div>

                <div class="form-group col">
                    <input
                            class="form-control form-control-lg"
                            name="confirm-password"
                            placeholder="Confirm Password"
                            type="password"/>
                </div>
            </div>

            <div class="form-group col">
                <button class="btn btn-lg">Register</button>
            </div>
        </form>

        <p class="card-text text-white my-2">
            Already have an account?
            <span class="ms-2 text-warning">Sign In</span>
        </p>
        <small class="text-warning">
            <i class="fa fa-arrow-alt-circle-left"></i>
            <a class="btn btn-sm text-warning" href="index.html">Back</a>
        </small>
    </div>
</div>
<!-- End of Card: Sample Text -->
</body>
</html>
